
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.inc-profile-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 20px 0;
  min-height: 100vh;
  font-family: 'Loto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
 
}



.inc-profile-container > div {
  flex: 1;
  text-align: center;
}

.inc-profile-container > div:first-of-type {
  border-right: 1px solid black ;
}

.points {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  color: #2ecc71;

}

.bottles {
  color: #c0392b;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;

}

.historial {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  

}

.historial-li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-right: 5px solid #2ecc71;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

#input {
  display: block;
  position: relative;
  white-space: nowrap;
  border: none;
  background-color: #f7f7f7;
  border-bottom: 2px solid black;


  
 
  

}
#href:hover {
  text-decoration: none;

  position: relative;
  opacity: 0.5;
}
#input:focus {
  border-bottom: 2px solid green;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}







.home {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   font-family: 'Loto', sans-serif;

}
.App {
  text-align: center;
}

.alertError {
  background-color: #f8d7da;
  position: absolute;
 
margin: 0 5px;
  padding-top: 11px;
  text-align: justify;
  padding: 11px;
  margin-top: 10px;
  left: -205px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
 
}

.custom-alert {
  position: absolute;
  margin-top: 20px;
  left: -250px;
  justify-content: center;
  display: flex;
  flex-direction: row;

}

.alertSuccess {
  background-color: #d4edda;
  position: absolute;
  padding: 11px;
  margin-top: 10px;
  left: -205px;
 
  padding-top: 11px;
  text-align: justify;
  
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.link {
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  justify-content: center;

  display: flex;
  right: 2px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
