.App {
  text-align: center;
}

.alertError {
  background-color: #f8d7da;
  position: absolute;
 
margin: 0 5px;
  padding-top: 11px;
  text-align: justify;
  padding: 11px;
  margin-top: 10px;
  left: -205px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
 
}

.alertSuccess {
  background-color: #d4edda;
  position: absolute;
  padding: 11px;
  margin-top: 10px;
  left: -205px;
 
  padding-top: 11px;
  text-align: justify;
  
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
